/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,900'); */

.section-title {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 1rem;
}

.section-desc {
    margin-bottom: 2.5rem;
}
/* ----------------------------------- */
body {
    font-family: "Poppins";
    background-color: #fff;
}

.card-wrapper {
    padding: 0px 140px 140px 140px;
}

.col-lg-4{
    margin-top: -16px;
}

.col-md-4{
    margin-top: -16px;
}

.card {
    background: #fff;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(197, 196, 196, 0.65);
    /* height: 90%; */
    width: auto;
    /* margin: 8px -8px; */
    /* margin: 6rem auto 8.1rem auto; */
}

.card-body {
    margin: auto;
}

svg {
    width: 86px;
    height: 86px;
}

svg path {
    fill:#754EF9;
}

.icon-wrapper {
    text-align: center;
    margin-top: 20px;
}

.card-body h3 {
    /*real font size sesuai req
    font-size: 22pt;
    */
    font-size: 16pt;
    text-align: center;
    font-weight: 500;
}

.services .heading h1 {    
    font-size: 40pt;
    font-weight: bold;
    color: #2A2A2A;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px;
}

.info #service-desc {
    padding-bottom: 50px;
}

p {
    font-weight: 400;
    line-height: 1.5;
    /*real font size sesuai req
    font-size: 16pt;
    */
    font-size: 12pt;
    color: #8A8FA3;
    text-align: center;
}

.contact-bg{    
    padding: 100px 140px 140px 140px;
    background-color: #754EF9aa;
    margin: auto;
}

.contact {
    /* parallax */
    background-image: url('../img/CTA\ bg.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact .heading h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.contact .info p {
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.button {
    text-align: center;
    margin-top: 70px;
    margin-left: 40px;    
    font-size: 15pt;    
}

.btn-cv {
	background-color: #fff;
	border-radius: 50px;
	border: 2px solid #fff;
	display: inline-block;
	cursor: pointer;
    color: #754EF9;
    font-weight: bold;
	padding: 15px 40px;
    text-decoration: none;
    margin-right: 20px;
}

.btn-cv:hover {
    color: #fff;
    background-color: #beaafd;
    border: 2px solid  #beaafd;
}

.btn-cv:active {
	position:relative;
	top:1px;
}

.btn-hire {
	background-color: transparent;
	border-radius: 50px;
	border: 2px solid #fff;
	display: inline-block;
	cursor: pointer;
    color: #fff;
    font-weight: bold;
	padding: 15px 70px;
    text-decoration: none;
    margin-right: 20px;
}

.btn-hire:hover {
    background-color: #beaafd;
    border: 2px solid  #beaafd;
}

.btn-hire:active {
	position:relative;
	top:1px;
}

footer {
    background-color: #fff;
    height: 80px;
}